
<form asp-action="DeleteConfirmed" asp-controller="Municipio" method="post">
    <div class="form-row">
        <p>¿Está seguro de que desea ELIMINAR el registro?</p>
    </div>
    <div class="row mt-6">
        <div class="col-md-4">
            <input type="hidden" id="inputHidden" name="Muni_Codigo" value="" />
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
        <div class="col-md-2">
            <p class="btn btn-secondary">
                <a asp-action="Index" style="color:white">NO</a>
            </p>
        </div>
    </div>
</form>
