<form asp-action="DeleteConfirmed" asp-controller="Usuarios" method="post">
    <div class="form-row">
        <p id="Usua_Texto_Delete"></p>
    </div>
    <div class="row mt-6">
        <div class="col-md-4">
            <input type="hidden" id="Usua_Id_Delete" name="Usua_Id" value="" />
            <input type="submit" value="Confirmar" class="btn btn-primary" />
        </div>
        <div class="col-md-2">
            <p class="btn btn-secondary">
                <a asp-action="Index" style="color:white">NO</a>
            </p>
        </div>
    </div>
</form>