@model Frontend_Sistema_Votaciones.Models.PartidoViewModel

@{
    var Part_Descripcion = Model != null ? Model.Part_Descripcion : null;
    var Part_Color = Model != null ? Model.Part_Color : null;
    var Part_Imagen = Model != null ? Model.Part_Imagen : null;
    ViewData["Title"] = "Crear";
}

<header class="w-100 d-flex justify-content-between align-items-center p-2" style="background: rgb(255,255,255); min-height: 12vh;">
    <h2>Añadir nuevo Partido</h2>
    <a href="~/" class="btn btn-primary" style="max-height: 40px; max-width: 150px; min-width: 100px">
        <i class="bi bi-house-door-fill"></i>
        Inicio
    </a>
</header>
<div class="card m-2 mt-4 p-3" style="overflow-x: auto">
    <div class="row">
        <div class="col">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="d-flex flex-wrap justify-content-around">
                    <div class="form-group col-sm-5 mb-4">
                        <label asp-for="Part_Descripcion" style="color: #3dbdd9"></label>
                        <input asp-for="Part_Descripcion" value="@Part_Descripcion" type="text" class="form-control" />
                        <span asp-validation-for="Part_Descripcion" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-5 mb-4">
                        <label asp-for="Part_Color" style="color: #3dbdd9"></label>
                        <input asp-for="Part_Color" class="form-control form-control-color" type="color">
                    </div>
                </div>
                <div class="d-flex flex-wrap justify-content-around">
                    <div class="form-group col-sm-5 mb-4">
                        <label class="mb-2" style="color: #3dbdd9">Imagen del partido: </label>
                        <input asp-for="Part_Imagen" value="@Part_Imagen" type="hidden" class="form-control" />
                        <input id="inputFileDescripcion" type="file" class="form-control" />
                        <span asp-validation-for="Part_Imagen" class="text-danger"></span>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-4 align-items-center">
                    <img id="imgPart_Imagen" src="@Part_Imagen" class="rounded" style="max-width: 300px; max-height: 300px;" />
                </div>
                <div class="d-flex justify-content-end mt-4 align-items-center" style="gap: 10px;">
                    <button type="submit" class="btn btn-primary" onclick="guardarArreglos()"><i class="bi bi-floppy"></i> Guardar</button>
                    <a asp-action="Index" class="btn btn-outline-primary"><i class="bi bi-x"></i> Cancelar</a>
                </div>
            </form>
        </div>
    </div>

    <script>
        const imgPart_Imagen = document.getElementById("imgPart_Imagen");


        const txtDescripcion = document.getElementById("Part_Descripcion");
        txtDescripcion.addEventListener("input", () => {
            const val = txtDescripcion.value.replace(/[^a-zA-Z _]/g, '');
            txtDescripcion.value = val;
        })

        const inputFileDescripcion = document.getElementById("inputFileDescripcion");
        const Part_Descripcion = document.getElementById("Part_Descripcion");
        const Part_Imagen = document.getElementById("Part_Imagen");
        inputFileDescripcion.addEventListener("change", () => {
            if (Part_Descripcion.value) {
                if (inputFileDescripcion.files[0]) {
                    const formData = new FormData();
                    formData.append("Imagen", inputFileDescripcion.files[0])
                    formData.append("Part_Descripcion", Part_Descripcion.value)
                    $.ajax({
                        url: `/Partidos/SubirImagen`,
                        method: "POST",
                        contentType: false,
                        data: formData,
                        processData: false,
                        success: function (response) {
                            if (response.urlImagen) {
                                iziToast.success({
                                    title: 'Éxito',
                                    message: response.message,
                                    position: 'topRight',
                                    transitionIn: 'flipInX',
                                    transitionOut: 'flipOutX'
                                });
                                Part_Imagen.value = response.urlImagen;
                                imgPart_Imagen.setAttribute("src", response.urlImagen);
                                imgPart_Imagen.classList.remove("d-none");
                            } else {
                                iziToast.error({
                                    title: 'Error',
                                    message: response.message,
                                    position: 'topRight',
                                    transitionIn: 'flipInX',
                                    transitionOut: 'flipOutX'
                                });
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.error(`Error al cargar la imagen del partido`, errorThrown);
                        }
                    });
                } else {
                    iziToast.error({
                        title: 'Error al seleccionar la imagen',
                        message: "Por favor seleccione nuevamente la imagen",
                        position: 'topRight',
                        transitionIn: 'flipInX',
                        transitionOut: 'flipOutX'
                    });
                }
            } else {
                iziToast.warning({
                    title: 'Falta el nombre',
                    message: "Por favor ingrese el nombre del partido",
                    position: 'topRight',
                    transitionIn: 'flipInX',
                    transitionOut: 'flipOutX'
                });
                inputFileDescripcion.value = "";
            }
        })
    </script>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>
