@model Frontend_Sistema_Votaciones.Models.VotanteViewModel

@{
    ViewData["Title"] = "tbVotantes".Substring(2);
    ViewData["ViewName"] = "IngresarDNI".Substring(1);
}

<label for="dni">Ingrese su DNI:</label>
<input type="text" id="dni" name="dni" required>
<button id="btnBuscar">Buscar</button>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#btnBuscar').click(function (e) {
            e.preventDefault();
            var dni = $('#dni').val();

            $.ajax({
                url: '/Departamento/BuscarVotante',
                type: 'POST',
                data: { dni: dni },
                success: function (response) {

                    window.location.href = response.redirectUrl;
                },
                error: function (xhr, status, error) {

                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>

